body, html {
    height:100%;
    overflow: hidden;
}

img {
    image-rendering: crisp-edges;
}

img.background {
    position: fixed; 
    top: -5; 
    left: -5;
    
    /* Full height */
    height: 101%;
    width: 101%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}