body, html {
  overflow: hidden;
  margin:0;
}

#body {
  background-color: black;
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position:fixed;
}

.display {
  display: block;
  float: left;
  position: fixed;
  bottom: 15px;
  color: #DDD;
  z-index: 3;
}

.info {
  margin: 5px 20px 5px 20px;
  padding: 5px 20px 5px 20px;
  font-size: 30px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background:rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  opacity: 0;
  z-index: 3;
}

.time-of-day-slider-container {
  width: 100%;
  position: absolute;
  z-index: 5;
  opacity: 0.2;
}

.time-of-day-slider-container:hover {
  opacity: 1;
}

.time-of-day-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: var(--dark-grey-color);
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.time-of-day-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--nice-blue);
  cursor: pointer;
}

.time-of-day-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--nice-blue);
  cursor: pointer;
}

#time-of-day-tooltip {
  position: absolute;
  top: 2.1rem;
  background-color: white;
  color: var(--background-color);
  border-radius: 0.4rem;
  padding: 0.5rem 0.9rem;
  font-size: 1.4rem;
  transition: 0s;
  opacity: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.time-of-day-slider-container:hover #time-of-day-tooltip {
  opacity: 1;
}

#time {
  color: #DDD;
  margin: 5px 20px 5px 20px;
  padding: 5px 20px 5px 20px;
  font-size: 30px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background:rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  z-index: 3;
}

.loading-screen.hide-opacity{
  opacity: 0;
}

.loading-screen {
  pointer-events: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  background-image: url("assets/loading.gif");
  background-color:black;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  position: fixed;
  background-repeat: no-repeat;
  background-position: center;

  /* Full height */
  height: 101%;
  width: 101%;
}

#artist-metadata {
  color: #DDD;
  margin: 5px 20px 5px 20px;
  padding: 5px 20px 5px 20px;
  font-size: 30px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background:rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  z-index: 3;
  cursor: pointer;
}

#metadata-display{
  background-color: "transparent";
  display:flex;
  justify-content:space-between;
  position:fixed;
  width:100%;
  bottom:15px;
}

.chillhop-logo {
  position: fixed;
  width: 10rem;
  display: flex;
  flex-direction: column;
  top: 2rem;
  right: 0rem;
  height: 10rem;
}

.chillhop-logo .tooltip {
  opacity: 0;
  display: none;
  right: -50%;
  left: 0rem;
  top: 50%;
  display: block;
  width: 100%;
}

.chillhop-logo:hover .tooltip {
  right: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease;
  opacity: 1;
  display: block;
}

#chillhop-icon {
  cursor: pointer;
  filter: invert(19%) sepia(20%) saturate(442%) hue-rotate(201deg) brightness(97%) contrast(89%) opacity(50%);
  height: 4rem;
  right: 2.5rem;
  position: absolute;
}

#chillhop-icon:hover {
  filter: invert(19%) sepia(20%) saturate(442%) hue-rotate(201deg) brightness(97%) contrast(89%) opacity(100%);
}

.side-bar {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  width: 18rem;
  height: 100%;
  padding: 2.1rem 1.2rem;
  background-color: rgba(17, 17, 17, 1);
  position: fixed;
  transition: all 0.5s ease;
  top: 0;
}
.options-list {
  padding-left: 0px;
  padding-bottom: 1rem;
  list-style: none;
}
.option {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0.9rem;
  margin-bottom: 1.1rem;
  color: var(--grey-color);
  cursor: pointer;
  transition: 0.5s ease;
}
.option::before {
  transition: 0.5s ease;
  content: '';
  position: absolute;
  left: -1.2rem;
  height: 100%;
  border-left: 3px solid var(--white-color);
  border-radius: 2px;
  opacity: 0;
  visibility: hidden;
}

.option:hover {
  color: var(--white-color);
  transition: 0.5s ease;
}
.option:hover::before {
  opacity: 1;
  visibility: unset;
}
.option-icon {
  font-size: 2rem;
  width: 50px;
}
.option-text {
  margin-left: 1.5rem;
  transition: opacity 0.6s ease;
  opacity: 1;
}

.tooltip {
  position: absolute;
  top: -2.1rem;
  left: 6.4rem;
  background-color: white;
  color: var(--background-color);
  border-radius: 0.4rem;
  padding: 0.5rem 0.9rem;
  font-size: 1.4rem;
  transition: 0s;
  opacity: 0;
  display: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.side-bar.collapse
.option:hover .tooltip {
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease;
  opacity: 1;
}

.side-bar.collapse
.volume-slider:hover + .tooltip {
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease;
  opacity: 1;
}

.side-bar.collapse {
  width: 3.8rem;
  background-color: rgba(17, 17, 17, 0);
}
.side-bar.collapse:hover {
  background-color: rgba(17, 17, 17, 0.5);
}
.side-bar.collapse .tooltip {
  display: block;
}
.side-bar.collapse .option-text {
  opacity: 0;
  pointer-events: none;
}

.side-bar.collapse .switch {
  opacity: 0;
}

.volume-slider-container {
  position: relative;
}

 /* The switch - the box around the slider */
.switch {
  margin-left: 1.5rem;
  position: relative;
  display: inline-block;
  width: 85px;
  height: 34px;
  opacity: 1;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider-toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
}

.slider-toggle:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
}

input:checked + .slider-toggle {
  background-color: #2196F3;
}

input:focus + .slider-toggle {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-toggle:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider-toggle.round {
  border-radius: 34px;
}

.slider-toggle.round:before {
  border-radius: 50%;
} 

.active-svg {
  filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}

.inactive-svg {
  filter: invert(14%) sepia(13%) saturate(623%) hue-rotate(201deg) brightness(94%) contrast(92%);
}

.collapse .active-svg {
  filter: invert(19%) sepia(20%) saturate(442%) hue-rotate(201deg) brightness(97%) contrast(89%) opacity(50%);
}

.collapse .active-svg:hover {
  filter: invert(82%) sepia(12%) saturate(144%) hue-rotate(202deg) brightness(89%) contrast(84%) opacity(100%);
}

.collapse .inactive-svg {
  filter: invert(14%) sepia(13%) saturate(623%) hue-rotate(201deg) brightness(94%) contrast(92%) opacity(50%);
}

.collapse .inactive-svg:hover {
  filter: invert(19%) sepia(20%) saturate(442%) hue-rotate(201deg) brightness(97%) contrast(89%) opacity(100%);
}

.rotate-180 {
  transform: rotate(180deg); 
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.collapse .volume-slider {
  transform: rotate(270deg);
  aspect-ratio: 1/1;
  position: relative;
  left: -75%;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
  opacity: 0;
  width: auto;
}

.collapse .volume-slider:hover {
  opacity: 1;
  accent-color: var(--nice-blue)
}

.volume-slider {
  transform: rotate(0deg);
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
  accent-color: var(--nice-blue);
  width: 100%;
}

.modal {
  display: block;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: var(--background-color);
  color: var(--white-color);
  margin: 15% auto;
  padding: 20px;
  width: 40%;
  border-radius: 20px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background: var(--nice-blue);
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button:hover {
  background: var(--hover-blue);
}

.button:active {
  background: var(--press-blue);
}

:root {
  --white-color: #fafafb;
  --background-color: #17171e;
  --grey-color: #b5b5be;
  --dark-grey-color: #292932;
  --nice-blue: #2196F3;
  --hover-blue: #4da8f3;
  --press-blue: #096ab9;
}