body, html {
    height:100%;
    overflow: hidden;
}

img {
    image-rendering: crisp-edges;
}

img.background {
    position: fixed; 
    top: -5; 
    left: -5;
    
    /* Full height */
    height: 101%;
    width: 101%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.display {
    display: block;
    float: left;
    position: fixed;
    bottom: 15px;
    color: #DDD;
}

.info {
    margin: 5px 20px 5px 20px;
    padding: 5px 20px 5px 20px;
    font-size: 30px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background:rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    opacity: 0;
}