[Unit]
Description=Window Frame service

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/home/pi/window-frame/startup/startup.sh

[Install]
WantedBy=multi-user.target
